.mySlidesFilm {
    display: none;
    max-height: 500px;
}
.mySlidesTv{
    display: none;
    max-height: 500px;
}

.mySlidesCinema{
    display: none;
    max-height: 500px;
}

img {
    object-fit: cover;
    object-position: center;
    max-height: 500px;
    min-height: 500px;
    height: 100%;
}
        
.slideshow-containerFilm {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 10px;
}

.slideshow-containerTv{
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 10px;
}

.slideshow-containerCinema{
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 10px;
}
        
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
        
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
        
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
        

