header{
    display: flex;
    height: 200px;
    background-image: url('../images/header.jpg');
    background-size: cover;
    align-items: center;
    justify-content: center;
}

h1{
    color: white;
    /*padding: 60px; padding negausim tiksliai per viduri*/
}

ul{
    display: flex;
    list-style-type: none;
    /*align-items: center;*/
    justify-content: center;
    padding: 0px;
    background-color: black;
}

a{
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}