body{
    background-color: #787878;
}
h1{
    color: #363636;
    background-color: #c4c4c4;
}
p{
    margin: 0px;
    color: #fff;
}
.fir{
    background-color: #001ee0;
}
.sec{
    background-color: #0020f0;
}
.third{
background-color: #0a2bff;
}
.four{
background-color: #1f3dff;
}
.fifth{
background-color: #3853ff;
}
.six{
background-color: #5269ff;
}
.seven{
background-color: #6b7fff;
}
.eight{
background-color:#2bcb0b;
}
.nine{
background-color: #ffb3b3;
}
.ten{
    background-color: #ff9494;
}
.eleven{
    background-color: #f66;
}
.twelve{
    background-color: #ff4242;
}
.thirtheen{
    background-color: #ff2929;
}
.fourtheen{
    background-color: #ff1414;
}
.sixtheen{
    background-color: #d60000;
}